# work performance & productivity analysis - Executive Report ( Data analyst project)
This notebook performs ** Exploratory data analysis (EDA) ** on a synthetic corporate IT employee dataset

Tools used:
-- ** panadas, numpy** for data manipulation 
-- ** matplotlib** for visualizations
## EDA and  ** business insights **

### Dataset Column Description

EmployeeID – Unique identifier for each employee

Age – Age of the employee (in years)

Gender – Gender of the employee

JobRole – Employee’s job designation or role

TenureYears – Total years of experience in the organization

WorkHoursPerWeek – Average number of working hours per week

WFH_percent – Percentage of time the employee works from home

SleepHours – Average sleep duration per day (in hours)

OvertimeHours – Average overtime hours worked per week

MeetingsPerDay – Average number of meetings attended per day

BreaksPerDay – Average number of breaks taken per day

ManagerRating – Performance rating given by the manager

StressScore – Calculated stress level score of the employee

ProductivityScore – Productivity performance score of the employee

BurnoutRisk – Burnout risk category (Low / Medium / High)

WorkloadIndex – Derived metric representing overall workload intensity

WorkLifeBalanceScore – Composite score indicating work-life balance

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# display all columns
pd.set_option('display.max_columns',None)
%matplotlib inline

1.Dataset overview

In [2]:
employee_df=pd.read_csv(r'c:\Users\dhanu\Downloads\employee_stress_raw_big_1000.csv')
print('shape of data:',employee_df.shape)
employee_df.head()

shape of data: (1000, 15)

,EmployeeID,Age,Gender,JobRole,TenureYears,WorkHoursPerWeek,WFH_percent,SleepHours,OvertimeHours,MeetingsPerDay,BreaksPerDay,ManagerRating,StressScore,ProductivityScore,BurnoutRisk
0,1,58,Male,Data Analyst,5.8,NaN,28.3,NaN,3.2,5,2,2.4,29.9,30.0,Low
1,2,48,Other,QA Tester,14.0,50.6,3.8,3.3,23.1,5,1,2.7,23.9,26.3,Low
2,3,34,Male,Data Analyst,8.1,68.6,99.5,6.0,20.7,0,1,1.6,37.2,55.9,Medium
3,4,27,NaN,Team Lead,14.1,47.1,48.2,3.3,22.2,6,0,1.7,75.2,27.8,Medium
4,5,40,M,QA Tester,3.3,48.4,75.6,3.8,22.0,3,3,NaN,24.8,78.2,Medium

2.Data quality assessment

In [3]:
# column names
employee_df.columns

Index(['EmployeeID', 'Age', 'Gender', 'JobRole', 'TenureYears',
       'WorkHoursPerWeek', 'WFH_percent', 'SleepHours', 'OvertimeHours',
       'MeetingsPerDay', 'BreaksPerDay', 'ManagerRating', 'StressScore',
       'ProductivityScore', 'BurnoutRisk'],
      dtype='object')

In [4]:
# information about the data
employee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         1000 non-null   int64
 1   Age                1000 non-null   int64
 2   Gender             913 non-null    object
 3   JobRole            1000 non-null   object
 4   TenureYears        919 non-null    float64
 5   WorkHoursPerWeek   913 non-null    float64
 6   WFH_percent        916 non-null    float64
 7   SleepHours         911 non-null    float64
 8   OvertimeHours      931 non-null    float64
 9   MeetingsPerDay     1000 non-null   int64
 10  BreaksPerDay       1000 non-null   int64
 11  ManagerRating      924 non-null    float64
 12  StressScore        1000 non-null   float64
 13  ProductivityScore  1000 non-null   float64
 14  BurnoutRisk        1000 non-null   object
dtypes: float64(8), int64(4), object(3)
memory usage: 117.3+ KB

In [5]:
# summary statistics
employee_df.describe()

,EmployeeID,Age,TenureYears,WorkHoursPerWeek,WFH_percent,SleepHours,OvertimeHours,MeetingsPerDay,BreaksPerDay,ManagerRating,StressScore,ProductivityScore
count,1000.000000,1000.000000,919.000000,913.000000,916.000000,911.000000,931.000000,1000.000000,1000.000000,924.000000,1000.000000,1000.000000
mean,500.500000,39.991000,7.580522,51.775356,51.537555,6.978266,14.978625,4.464000,2.472000,3.016775,53.331400,60.212200
std,288.819436,11.780055,4.253915,16.152012,28.953920,2.291947,8.684204,2.953206,1.721098,1.148465,25.200616,23.645303
min,1.000000,20.000000,0.000000,25.000000,0.500000,3.000000,0.100000,0.000000,0.000000,1.000000,10.000000,20.100000
25%,250.750000,30.000000,4.000000,37.700000,27.100000,5.050000,7.600000,2.000000,1.000000,2.075000,31.175000,38.800000
50%,500.500000,41.000000,7.700000,51.200000,52.500000,7.000000,15.100000,5.000000,2.000000,3.000000,53.600000,60.450000
75%,750.250000,50.250000,11.300000,65.800000,77.200000,8.900000,22.300000,7.000000,4.000000,4.000000,74.300000,81.100000
max,1000.000000,59.000000,15.000000,79.900000,100.000000,11.000000,30.000000,9.000000,5.000000,5.000000,99.700000,100.000000

3.Completeness & data integrity review

In [6]:
# count missing values per column
employee_df.isna().sum().sort_values(ascending=False)

SleepHours           89
WorkHoursPerWeek     87
Gender               87
WFH_percent          84
TenureYears          81
ManagerRating        76
OvertimeHours        69
JobRole               0
Age                   0
EmployeeID            0
MeetingsPerDay        0
BreaksPerDay          0
StressScore           0
ProductivityScore     0
BurnoutRisk           0
dtype: int64

In [7]:
# create a copy for cleaning so we don't modify the original data directly
df_clean=employee_df.copy()

# for numerical cloumns: filling missing values with median 
num_cols=df_clean.select_dtypes(include=['int64','float64']).columns
for col in num_cols:
    if df_clean[col].isna().sum()>0:
        median_value=df_clean[col].median()
        df_clean[col]=df_clean[col].fillna(median_value)
        
# categorial columns: filling missing values with mode (most frequent)
cat_cols=df_clean.select_dtypes(include=['object']).columns
for col in cat_cols:
    if df_clean[col].isna().sum()>0:
        mode_value=df_clean[col].mode()[0]
        df_clean[col]=df_clean[col].fillna(mode_value)

In [8]:
# check missing values again 
df_clean.isna().sum()

EmployeeID           0
Age                  0
Gender               0
JobRole              0
TenureYears          0
WorkHoursPerWeek     0
WFH_percent          0
SleepHours           0
OvertimeHours        0
MeetingsPerDay       0
BreaksPerDay         0
ManagerRating        0
StressScore          0
ProductivityScore    0
BurnoutRisk          0
dtype: int64